$flamenco: #fe820e
$shamrock: #2fb67b
$shakespeare: #38a1d1
$athens-gray: #f4f5f7
$iron: #dbdcde

@import compass/reset
@import compass/css3
@import foundation_and_overrides
@import fonts
@import icomoon
@import petitions

body, html
  overflow-x: hidden
  font-family: Proxima Nova
  background: $athens-gray

a
  color: $shamrock
  &:hover
    color: lighten($shamrock, 10%)

.row
  +grid-row

[class*="icon-"]
  &:before
    margin-right: .25em

.btn
  color: white
  background: $flamenco
  display: inline-block
  padding: .4em 4em .2em 4em
  font-weight: bold
  font-size: 1.5em
  text-align: center
  text-transform: uppercase
  +border-radius(3px)
  +box-shadow(darken($flamenco, 10%) 0 2px)
  &:hover
    color: white
    background: lighten($flamenco, 5%)
  &.secondary
    background: $shamrock
    +box-shadow(darken($shamrock, 10%) 0 2px)
    &:hover
      background: lighten($shamrock, 5%)

.clear
  clear: both

img.loader
  width: 50px
