$flamenco: #fe820e
$shamrock: #2fb67b
$shakespeare: #38a1d1

@import compass/reset
@import compass/css3
@import foundation_and_overrides
@import fonts
@import petitions

body
  overflow-x: hidden
  font-family: Proxima Nova

.row
  +grid-row

[class*="icon-"]
  &:before
    margin-right: .25em

.btn
  color: white
  background: $flamenco
  display: inline-block
  padding: .4em 4em .2em 4em
  font-weight: bold
  font-size: 1.5em
  +border-radius(3px)
  +box-shadow(darken($flamenco, 10%) 0 2px)
  &:hover
    color: white
    background: lighten($flamenco, 5%)
